<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>discovr</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'common' %>
</head>
<body>
	<div id="main">
		<div id="topbar">
			<h1><a href="/">discovr</a></h1>
			<% if @userdata %>
			<div class="loggedas">Logged in as <%= @userdata["username"] %></div>
			<% else %>
			<%= link_to "Login", @auth_link, :class => "login_link" %>
			<% end %>
			<a class="clearhistory" href="?clearhistory">Clear history</a>
		</div>
		<div id="history">
			<%= render :partial => 'discovr/history' %>		
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
